<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="desenvolvimento de jogos e realidade virtual">
    <meta name="Keywords" content="realidade virtual, criamos jogos, desenvolvemos jogos">
    <title>GlobalGames | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games </h1>
            </div>
            <nav>
                <ul>
                    <li id="home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li id="sobre"><a asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                    <li id="servicos"><a asp-controller="Home" asp-action="Servicos">Serviços</a></li>
                    <li id="Contactos"><a asp-area="" asp-controller="Contactos" asp-action="Index">Contactos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="showcase">
        <div class="container">
            <h1>A melhor plataforma de realidade virtual</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis lectus at sapien dapibus facilisis. Ut maximus nunc urna, non congue diam mattis ut. Fusce eros leo, pulvinar ut ultrices non, aliquam nec quam. Integer gravida ut mauris ac ultrices. Phasellus iaculis elementum condimentum.</p>
        </div>
    </section>

    <partial name="_Newsletter" />

    @RenderBody()

    <footer>
        <p>Global Games, Copyright &copy; @DateTime.Now.Year</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
